<mat-card
	*ngIf="task"
	class="task-card"
	[class.task-card_highlighted]="highlighted">
	<mat-card-header>
		<mat-card-title>{{task.title}}</mat-card-title>
		<mat-card-subtitle>Score: {{task.userScore}}/{{task.maxScore}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-actions align="end">
		<button
			*ngIf="!reviewMode"
			mat-button
			(click)="openClicked.next()">
			OPEN
		</button>
		<button
			*ngIf="!reviewMode"
			mat-button
			color="primary"
			(click)="editClicked.next()">
			EDIT
		</button>
		<button
			*ngIf="reviewMode && !inReview"
			mat-button
			color="primary"
			(click)="reviewClicked.next()">
			REVIEW
		</button>
		<button
			*ngIf="!reviewMode"
			mat-button
			color="warn"
			[disabled]="deleteDisabled"
			(click)="deleteClicked.next()">
			DELETE
		</button>
	</mat-card-actions>
</mat-card>
