<mat-card
	class="task-card"
	[class.task-card_highlighted]="isHighlighted"
	*ngIf="task">
	<mat-card-header>
		<mat-card-title>{{task.title}}</mat-card-title>
		<mat-card-subtitle>Score: {{task.userScore}}/{{task.maxScore}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-actions align="end">
		<button
			mat-button
			*ngIf="!isReviewMode"
			(click)="openClicked.next()">
			OPEN
		</button>
		<button
			mat-button
			*ngIf="!isReviewMode"
			(click)="editClicked.next()"
			color="primary">
			EDIT
		</button>
		<button
			mat-button
			*ngIf="isReviewMode && !isInReview"
			(click)="reviewClicked.next()"
			color="primary">
			REVIEW
		</button>
		<button
			mat-button
			*ngIf="!isReviewMode"
			[disabled]="isDeleteDisabled"
			(click)="deleteClicked.next()"
			color="warn">
			DELETE
		</button>
	</mat-card-actions>
</mat-card>
