<div class="container">
    <mat-toolbar class="container-header">
        <div class="container-header__avatar" [class.disabled]="authService.user" (click)="auth()">
            <app-avatar [user]="authService.user"></app-avatar>
        </div>

        <span
            class="container-header__logo"
            routerLink="/">
            GANDALF
        </span>

        <div class="container-header__link">
            <button
                class="container-header__button"
                [disabled]="!authService.user"
                mat-button
                routerLink="/tasks">
                Tasks
            </button>
        </div>
        <div class="container-header__link">
            <button
                class="container-header__button"
                [disabled]="!authService.user"
                mat-button
                routerLink="/review">
                Review
            </button>
        </div>

        <div class="container-header__spacer"></div>

        <button
            class="container-header__icon-button container-header__icon-button_admin"
            mat-icon-button>
            <mat-icon class="container-header__settings">
                settings
            </mat-icon>
        </button>
    </mat-toolbar>
    <div class="container-content">
        <router-outlet></router-outlet>
    </div>
</div>
