@import "variables.scss";

:host,
.tasks-page,
.tasks-page__content {
    display: flex;
    flex: 1;
    height: 100%;
}

.tasks-page__content {
    padding: $gutter-width;
    box-sizing: border-box;
}

.tasks-page__tasks-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 16px;
}

.tasks-page__task {
    padding-bottom: $gutter-width;
}

.tasks-page__scoreboard {
    flex: 1;
}

.tasks-page__add-task-button {
    max-width: 100px;
    margin-bottom: 16px;
}