<div class="tasks-page">
    <div class="tasks-page__content">
        <div class="tasks-page__tasks-list">
            <button class="tasks-page__add-task-button"
                    mat-raised-button color="primary"
                    (click)="addTask()"
                    [disabled]="tasksFacade.addTaskInProgress$ | async">
                ADD TASK
            </button>
            <app-task-card class="tasks-page__task"
                           *ngFor="let task of tasks"
                           [task]="task"
                           [deleteDisabled]="tasksFacade.deleteTaskInProgress$ | async"
                           (openClicked)="navigateToTask(task.uid)"
                           (editClicked)="navigateToTaskEdit(task.taskUid)"
                           (deleteClicked)="deleteTask(task.taskUid)">
            </app-task-card>
        </div>
        <div class="tasks-page__scoreboard">
            scoreboard here
        </div>
    </div>
</div>

