$gutter-width: 16px;

$page-padding: 20px;

$form-padding: 0px 20px;
$form-toolbar-bg: white;
$form-toolbar-padding: 0px;
$form-toolbar-button-margin: 0px 10px 0px 0px;

$mat-tab-body-content-padding: 20px;
