
<mat-drawer-container class="review-page review-page_s-sized-device review-page_m-sized-device review-page_l-sized-device review-page_xl-sized-device">
    <mat-drawer-content>
        <div class="page-wrapper">
            <app-task-card
                class="review-page__task"
                *ngFor="let userTask of usersTasks"
                [task]="userTask"
                [highlighted]="currentReviewTask ? userTask.uid === currentReviewTask.uid : false"
                [reviewMode]="true"
                (reviewClicked)="onReviewTask(userTask)">
            </app-task-card>
        </div>
    </mat-drawer-content>
    <mat-drawer
        class="review-page__drawer"
        mode="side"
        [opened]="isNeedToOpenReviewTask"
        position="end">
        <app-review-task
            [task]="currentReviewTask"
            (cancelClicked)="onCancelReviewTask()">
        </app-review-task>
    </mat-drawer>
</mat-drawer-container>
