<section class="review-page review-page_s-sized-device">
    <mat-card class="review-page__form">
        <mat-card-title class="review-page__form-title">
            Review
        </mat-card-title>

        <mat-card-content class="review-page__form-content">
            <mat-form-field
                class="review-page__form-field"
                appearance="outline">
                <mat-label class="review-page__field-label">
                    Task
                </mat-label>
                <mat-select class="review-page__select-field">
                    <mat-option value="one">
                        First Task
                    </mat-option>
                    <mat-option value="two">
                        Second Task
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field
                class="review-page__form-field"
                appearance="outline">
                <mat-label class="review-page__field-label">
                    Student
                </mat-label>
                <mat-select class="review-page__select-field">
                    <mat-option value="one">
                        First Student
                    </mat-option>
                    <mat-option value="two">
                        Second Student
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field
                class="review-page__form-field"
                appearance="outline">
                <mat-label class="review-page__field-label">
                    Score
                </mat-label>
                <input
                    class="review-page__input-field"
                    matInput
                    type="number"
                    placeholder="Change number...">
            </mat-form-field>

            <mat-form-field
                class="review-page__form-field"
                appearance="outline">
                <mat-label class="review-page__field-label">
                    Comment
                </mat-label>
                <textarea
                    class="review-page__textarea-field"
                    matInput
                    type="text"
                    placeholder="Leave a comment..."
                    rows="7"
                    resize="none"></textarea>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions
            class="review-page__form-actions"
            align="end">
            <button
                mat-raised-button
                color="primary">
                Submit
            </button>
        </mat-card-actions>

        <mat-card-footer class="review-page__form-footer">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</section>
