@media screen and (min-width: 1441px) {
	.review-page.review-page_xl-sized-device {
        & .review-page__drawer {
            width: 50%;
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
	.review-page.review-page_l-sized-device {
        & .review-page__drawer {
            width: 50%;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
	.review-page.review-page_m-sized-device {
        & .review-page__drawer {
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
	.review-page.review-page_s-sized-device {
        & .review-page__drawer {
            width: 100%;
        }
    }
}
