@import "variables.scss";
@import '../../app.component.scss';

:host,
.review-page,
.review-page__wrapper {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.review-page {
	&__wrapper {
		padding: $page-padding;
	}
}
